:root {
  --darkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --hover: hsl(236, 33%, 92%);
  --darkGrayishBlue: hsl(234, 11%, 52%);
  --veryDarkGrayishBlue: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
}
ul {
  list-style: none;
}
header {
  background: url("../images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 2rem;
}
.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 2.5rem;
}
.header__title h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 10px;
}
.input-wrapper {
  display: flex;
  background-color: var(--veryDarkDesaturatedBlue);
  padding: 1rem 2rem;
  border-radius: 5px;
}
.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid gray;
}
form {
  flex: 1;
}
input {
  width: 100%;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--lightGrayishBlue);
}
.output {
  padding: 3rem 2rem;
  height: calc(100vh - 240px);
  background-color: var(--darkBlue);
}
.output-box {
  background-color: var(--veryDarkDesaturatedBlue);
  transform: translateY(-5rem);
  color: var(--lightGrayishBlue);
}
.todo-item {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #efefef33;
  cursor: pointer;
}
.todo-item:hover {
  color: var(--hover);
}
.checked-todo {
  margin-right: 1rem;
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #efefef33;
  display: flex;
  align-items: center;
  justify-content: center;
}
.completed .checked-todo {
  background: linear-gradient(#57ddff, #c058f3);
}

.delete-todo {
  margin-left: auto;
  height: 14px;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}
.count,
.clear {
  opacity: 0.5;
  font-size: 12px;
}
.clear {
  cursor: pointer;
}
.filter {
  transform: translateY(-3rem);
  background-color: var(--veryDarkDesaturatedBlue);
  padding: 1.5rem 1rem;
  border-radius: 5px;
}
.filter ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--lightGrayishBlue);
  font-weight: 700;
}
.active {
  color: hsl(220, 98%, 61%);
}
.info {
  text-align: center;
  color: var(--lightGrayishBlue);
  transform: translateY(-1rem);
}
.desktop-filter {
  display: none;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  header {
    padding: 5rem 1rem;
    background: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .filter {
    display: none;
  }
  .info {
    transform: translateY(-2rem);
  }
  .desktop-filter {
    display: flex;
    gap: 1rem;
    opacity: 0.7;
    font-size: 12px;
  }
}
